# Currency Symbol
 NEXT_PUBLIC_CURRENCY_SYMBOL = 'Rs'
  NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Y29oZXJlbnQtc2F0eXItMzEuY2xlcmsuYWNjb3VudHMuZGV2JA
 CLERK_SECRET_KEY=sk_test_ELFFyAx3IygfB2FL3VkGUbVBMeqzc95lnGtIgUmMwQ
   DATABASE_URL="postgresql://neondb_owner:npg_XG1MPhf7sKDg@ep-odd-bush-a1ivx5dj-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require" 
   DIRECT_URL="postgresql://neondb_owner:npg_XG1MPhf7sKDg@ep-odd-bush-a1ivx5dj.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require" 
   INNGEST_EVENT_KEY="2vq5UL0BhbXfQk7n1AJXr8mH4CgRHzeZTm8jHG32wBJOlNYDu6XQEnmIZacwh3zts9c4QUDbSusA6BnV2CKq7g"
 INNGEST_SINGIN_KEY="signkey-prod-a9de13a1a4cf14ae3b052b71494296415e54724cb0a3ae5fd6df8039e30603c4"